absl-py @ file:///opt/concourse/worker/volumes/live/038c7640-529d-45f3-464f-ee37f5e0f4eb/volume/absl-py_1623867246969/work
aiohttp==3.6.2
aiormq==3.3.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.0.1
APScheduler==3.6.3
argh==0.26.2
asgiref==3.3.4
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
audioread==2.1.9
autopep8==1.4.4
b-labs-models==2017.8.22
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.0
blis==0.7.4
bokeh==1.4.0
boto==2.49.0
boto3==1.16.23
botocore==1.19.23
Bottleneck==1.3.2
Brotli==1.0.7
bs4==0.0.1
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.1.0
calmap==0.0.9
catalogue==2.0.6
catboost==1.0.0
certifi==2021.10.8
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.9
chart-studio==1.1.0
cli-helpers==2.1.0
click==8.0.3
click-plugins==1.1.1
clickhouse-driver==0.2.0
cligj==0.7.2
cloudpickle==1.3.0
clyent==1.2.2
colorama==0.4.3
commonmark==0.9.1
conda==4.10.3
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
configobj==5.0.6
configparser==5.0.0
confuse==1.3.0
contextlib2==0.6.0.post1
coremltools==3.4
crayons==0.3.1
cryptography==2.8
cssselect==1.1.0
curlify==2.2.1
cycler==0.10.0
cymem==2.0.5
Cython==0.29.15
cytoolz==0.10.1
dash==1.13.4
dash-bootstrap-components==0.10.7
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-renderer==1.5.1
dash-table==4.8.1
dask==2.11.0
dateparser==1.0.0
DAWG-Python==0.7.2
decorator==4.4.1
defusedxml==0.6.0
delegator.py==0.1.1
demoji==0.2.1
df2gspread==1.0.4
dictdiffer==0.8.1
diff-match-patch==20181111
dill==0.3.3
distributed==2.11.0
Django==3.2
django-codemirror-widget-2==0.0.2
djangocodemirror==2.1.0
dlx==1.0.4
docopt==0.6.2
docplex==2.15.194
docutils==0.16
dostoevsky==0.5.0
entrypoints==0.3
et-xmlfile==1.0.1
facebook-business==7.0.0
faiss==1.5.3
fake-useragent==0.1.11
fastcache==1.1.0
fastdtw==0.3.4
fastjsonschema==2.15.1
fasttext==0.9.1
filelock==3.0.12
Fiona==1.8.20
firebase==3.0.1
firebase-admin==4.5.1
firestore==0.0.8
flake8==3.7.9
Flask==1.1.2
Flask-Compress==1.5.0
flatbuffers==1.12
frida==12.11.9
frida-tools==8.1.3
fsspec==0.6.2
funcy==1.17
future==0.18.2
gast==0.4.0
gcloud==0.17.0
gensim==4.1.2
geographiclib==1.50
geopandas==0.9.0
geopy==2.1.0
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google==3.0.0
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.26.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-cloud-bigquery==2.16.1
google-cloud-bigquery-storage==2.4.0
google-cloud-core==1.6.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
graphviz==0.17
greenlet==1.0a1
grpcio==1.34.1
gspread==3.6.0
gspread-dataframe==3.0.7
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
h5py==3.1.0
HeapDict==1.0.1
hpack==3.0.0
hstspreload==2020.6.16
html5lib==1.0.1
htmlmin==0.1.12
httpcore==0.9.1
httplib2==0.18.1
httptools==0.1.2
httpx==0.13.3
huggingface-hub==0.2.1
hyperframe==5.2.0
hypothesis==5.5.4
idna==3.3
ImageHash==4.1.0
imageio==2.6.1
imagesize==1.2.0
imbalanced-learn==0.6.2
imblearn==0.0
importlib-metadata==4.10.0
imutils==0.5.3
infi.clickhouse-orm==2.1.0
inflection==0.5.1
instagram==2.1.0
intervaltree==3.0.2
ipykernel==5.1.4
ipymarkup==0.9.0
ipython==7.12.0
ipython_genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.14
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.1.0
json-checker==2.0.0
json5==0.9.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jwcrypto==0.8
jws==0.1.3
kaggle==1.5.6
keras==2.7.0
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keyring==21.1.0
kiwisolver==1.1.0
kraken==2.0.8
lazy-object-proxy==1.4.3
Levenshtein==0.16.0
libarchive-c==2.8
libclang==12.0.0
libcst==0.3.19
librosa==0.8.0
lief==0.9.0
litecli==1.4.1
llvmlite==0.31.0
locket==0.2.0
lxml==4.6.3
Markdown @ file:///opt/concourse/worker/volumes/live/255f8945-2411-4469-7c82-a749af3aef33/volume/markdown_1614363822772/work
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.1
more-itertools==8.2.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==0.6.1
multidict==4.7.5
multipledispatch==0.6.0
multitasking==0.0.9
munch==2.5.0
murmurhash==1.0.5
mypy-extensions==0.4.3
mysql-connector-python==8.0.21
natasha==1.4.0
navec==0.10.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.5.1
networkx==2.4
nltk==3.6.6
norminette==3.3.32
nose==1.3.7
notebook==6.0.3
notion==0.0.28
ntlm-auth==1.5.0
numba==0.48.0
numexpr==2.7.1
numpy==1.21.5
numpydoc==0.9.2
oauth2client==3.0.0
oauthlib==3.1.0
objection==1.9.6
olefile==0.46
opencv-python==4.2.0.34
openpyxl==3.0.3
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
outlier-utils==0.0.3
packaging==21.3
pamqp==2.3.0
pandahouse==0.2.7
pandas==1.1.5
pandas-gbq==0.14.0
pandas-profiling==2.8.0
pandocfilters==1.4.2
parse==1.15.0
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib==1.0.1
pathlib2==2.3.5
pathtools==0.1.2
pathy==0.6.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
phik==0.10.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
playwright==0.162.2
plotly==4.8.1
pluggy==0.13.1
ply==3.11
pooch==1.3.0
preshed==3.0.5
prometheus-client==0.7.1
prompt-toolkit==3.0.3
proto-plus==1.13.0
protobuf==3.14.0
psutil==5.6.7
psycopg2==2.9.1
ptyprocess==0.6.0
py==1.8.1
pyaes==1.6.1
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAstronomy==0.16.0
PyAutoGUI==0.9.53
pybind11==2.6.2
pycodestyle==2.5.0
pycosat==0.6.3
pycountry==19.8.18
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.4.3
pycurl==7.43.0.5
pydantic==1.8.2
pydata-google-auth==1.2.0
pydocstyle==4.0.1
PyDrive==1.3.1
pyee==8.1.0
pyemd==0.5.1
pyflakes==2.1.1
PyGetWindow==0.0.9
Pygments==2.5.2
pygraphviz==1.6
pyinstagram==0.2.1
pyLDAvis==3.3.1
pylint==2.4.4
pymongo==4.0.1
pymorphy2==0.9.1
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.417127.4579844
PyMsgBox==1.0.9
PyMySQL==0.10.1
pymystem3==0.2.0
pynput==1.7.1
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accessibility==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdServices==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AppTrackingTransparency==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CallKit==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-ClassKit==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-KernelManagement==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-MetalPerformanceShadersGraph==7.3
pyobjc-framework-MLCompute==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PassKit==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-ReplayKit==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScreenTime==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UniformTypeIdentifiers==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-UserNotificationsUI==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Virtualization==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.8.1
pyppeteer==0.2.2
pyproj==3.1.0
pyquery==1.4.1
Pyrebase==3.0.27
PyRect==0.1.4
pyrsistent==0.15.7
PyScreeze==0.1.27
PySocks==1.7.1
pyTelegramBotAPI==3.7.6
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-bidi==0.4.2
python-binance==1.0.10
python-constraint==1.4.0
python-crfsuite==0.9.7
python-dateutil==2.8.2
python-dotenv==0.18.0
python-jsonrpc-server==0.3.4
python-jwt==2.0.1
python-language-server==0.31.7
python-mnist==0.7
python-slugify==4.0.0
PyTweening==1.0.3
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.3
pyzbar==0.1.8
pyzmq==18.1.1
QDarkStyle==2.8
qiskit==0.26.2
qiskit-aer==0.8.2
qiskit-aqua==0.9.1
qiskit-ibmq-provider==0.13.1
qiskit-ignis==0.6.0
qiskit-terra==0.17.4
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
Quandl==3.6.0
rapidfuzz==1.8.2
razdel==0.5.0
readability-lxml==0.7.1
regex==2021.11.10
requests==2.26.0
requests-html==0.10.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
resampy==0.2.2
Resemblyzer==0.1.1.dev0
retrying==1.3.3
retworkx==0.8.0
rfc3986==1.4.0
rope==0.16.0
rsa==4.0
Rtree==0.9.3
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.1.0/ru_core_news_sm-3.1.0-py3-none-any.whl
ruamel_yaml==0.15.87
rubicon-objc==0.4.0
rusenttokenize==0.0.5
russian-tagsets==0.6
russiannames==1.0
ruwordnet==0.0.3
s3transfer==0.3.3
sacremoses==0.0.35
schedule==0.6.0
scikit-image==0.16.2
scikit-learn==1.0.1
scipy==1.7.3
seaborn==0.10.0
selenium==3.141.0
selenium-stealth==1.0.6
Send2Trash==1.5.0
Shapely==1.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.16.0
sklearn==0.0
slovnet==0.5.0
smart-open==5.2.1
sniffio==1.1.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve==1.9.5
spacy==3.1.3
spacy-legacy==3.0.8
spectralcluster==0.1.0
SpeechRecognition==2.1.3
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
sqlalchemy-clickhouse==0.1.5.post0
sqlparse==0.3.1
srsly==2.4.1
sseclient==0.0.27
starlette==0.12.9
statsmodels==0.11.0
sympy==1.5.1
tables==3.6.1
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tblib==1.6.0
Telethon==1.19.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.22.0
tensorflow-text==2.7.3
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
thinc==8.0.10
threadpoolctl==3.0.0
TikTokApi==3.8.2
tokenizers==0.10.3
toolz==0.10.0
torch==1.5.1
torchvision==0.6.1
tornado==6.0.3
tqdm==4.62.3
traitlets==4.3.3
transformers==4.15.0
transliterate==1.10.2
typer==0.4.0
typing==3.7.4.3
typing-inspect==0.6.0
typing_extensions==4.0.1
tzlocal==2.1
ufal.udpipe==1.2.0.3
ujson==1.35
umap-learn==0.3.10
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.7
uvicorn==0.11.7
uvloop==0.14.0
visions==0.4.4
vk==2.0.2
w3lib==1.22.0
wasabi==0.8.2
watchdog==0.10.2
wcwidth==0.1.8
webarchive==0.4.0
webdriver-manager==3.1.0
webencodings==0.5.1
webrtcvad==2.0.10
websockets==8.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wiki-ru-wordnet==1.0.3
wikipedia==1.4.0
Wikipedia-API==0.5.4
wordcloud==1.8.1
wrapt==1.12.1
wurlitzer==2.0.0
xgboost==1.3.0.post0
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.28.0
yargy==0.15.0
yarl==1.4.2
yfinance==0.1.55
youtube-transcript-api==0.4.1
zict==1.0.0
zipp==3.6.0
